.genial{
    position: relative;
    word-wrap: break-word;
    white-space: nowrap;
    letter-spacing: -4px;
    display: block;
    width: 158px;
    cursor: pointer;
}
.genial div{
    display: inline-block;
    vertical-align: middle;
    word-spacing: normal;
    letter-spacing: normal;
    white-space: normal;
}
/*
 *   Bloques
 */
.genial-left{
	width: 55px;
	height: 16px;
}
.genial-smile{
    position: relative;
    background: #f2f2f2;
    border: 1.5px solid #ffffff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
    transition: all 0.5s;
}
.genial-right{
    width: 41px;
    position: relative;
    background: #a4a1a1;
    border-radius: 2px 10px 10px 2px;
    padding: 2px 14px 2px 14px;
    margin-left: -14px;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    text-align: right;
    user-select: none;
}
.genial-right span{
    display: block;
    font-size: 14px;
}
.genial-right:before{
	content: '';
    position: absolute;
    width: 45px;
    height: 45px;
    background: #FFFFFF;
    left: -32px;
    top: -11px;
    border-radius: 50%;
}

/*
 *   SVG initial
 */
.genial-left svg{
	width: 55px;
	height: 12px;
	fill: #A4A1A1;
}
.genial-smile .unliked svg{
	fill: #A4A1A1;
}
.genial-smile .liked svg{
	fill: #ff9a00;
}
/*
 *   LikeState
 */

.unliked, .liked{
	width: 45px;
	height: 45px;
}
.liked{
	display: none;
}

/*
 *      Styles only for view
 */

.genial-preview{
    font-size: 55px;
    letter-spacing: -0.2545em;
    line-height: 0.2991em;
    width: 2.87em;
}
.genial-preview .genial-left{
    width: 1em;
    height: 0.2910em;
    line-height: 0.09em;
}
.genial-preview .genial-left svg {
    width: 1em;
    height: 0.2184em;
    vertical-align: middle;
}
.genial-preview .genial-smile {
    border: 0.0274em solid #ffffff;
    width: 0.8182em;
    height: 0.8182em;
    line-height: 0;
}
.genial-preview .genial-smile .unliked, .genial-preview .genial-smile .liked {
    width: 0.8182em;
    height: 0.8182em;
}
.genial-preview .genial-smile .unliked svg, .genial-preview .genial-smile .liked svg{
    width: 0.8182em;
    height: 0.8182em;
}
.genial-preview .genial-smile .unliked{
    display: none;
}
.genial-preview .genial-smile .liked{
    display: block;
}
.genial-preview .genial-smile .liked svg{
    fill: #A4A1A1;
}
.genial-preview .genial-right {
    width: 0.74em;
    border-radius: 0.363em 0.5em 0.5em 0.363em;
    padding: 0.0364em 0.2546em 0.0364em 0.2546em;
    margin-left: -0.2545em;
}
.genial-preview .genial-right span{
    font-size: 0.2545em;
}
.genial-preview .genial-right:before {
    width: 0.81em;
    height: 0.81em;
    left: -0.5818em;
    top: -0.20em;    
}